.CardItem__item {
  border-bottom: 1px solid gray;
  padding: 10px 0;
  margin-top: 10px;
}
li 
{
  list-style-type: none;
  display: flex;
  gap: 5px;
  align-items: center;
}

li img {
  height: 40px;
  width: 40px;
  object-fit: contain;
}
.CardItem__item:nth-child(1) {
  border-top: 1px solid gray;
}

.CardItem__button {
  margin-left: auto;
  padding: 4px 8px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.CardItem__button:focus,
.CardItem__button:active {
  outline: none;
}